/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(268,77%,58%);
  --first-color-dark: hsl(268,77%,51%);
  --first-color-light: hsl(268,100%,83%);
  --title-color: hsl(0 ,0%,87%);
  --text-color: hsl(0,0%,69%);
  --body-color: hsl(200,12%,5%);
  --container-color: hsl(200,10%,8%);
  --border-color: hsl(0,0%,20%);
  --white: #fff;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Jost', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.2rem;
  --large-font-size: 1.125rem;

  /*========== Font weight ==========*/
  --weight-300: 300;
  --weight-400: 400;
  --weight-600: 600;
}

/*=============== DARK THEME ===============*/

/*=============== BASE ===============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--large-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#nav-toggler {
    display: none;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container{
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 6rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-400);
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.section__title::before{
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .5rem;
}

.title-center {
  text-align: center;
  margin-bottom: 3rem;
}
/*=============== STYLE SWITCHER ===============*/

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.05);
  z-index: 100;
}

.nav,
.nav__list {
  display: flex;
}

.nav {
  height: calc(var(--header-height) + 2.25rem);
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color:var(--first-color);
  font-size: var(--h2-font-size);
}

.nav__list {
  column-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  transition: all 0.3s ease; 
}

.nav__toggle {
  display: none;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  background-color: var(--container-color);
  padding-block: 9rem 3rem;
}
.home__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.home__small {
  font-size: var(--larger-font-size);
  font-weight: var(--weight-600);
  letter-spacing: 1px;
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 1.4;
}

.home__title span {
  font-weight: var(--weight-300);
}

.home__description {
  margin-block: 1.5rem 3rem;
}

.home__btns {
  display: flex;
  column-gap: 1rem;
}

.home__img-wrapper {
  margin-inline: auto 2rem;
  position: relative;
}

.home__img-wrapper::before,
.home__img-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
}

.home__img-wrapper::before {
  background-color: var(--first-color-light);
  animation: animate__before 4s ease-in-out infinite;
}

.home__img-wrapper::after {
  background-color: var(--first-color);
}
.home__img-wrapper::after,
.home__img {
  animation: animate__after 4s ease-in-out infinite;
}

.home__img {
  z-index: 10;
  position: relative;
  vertical-align: middle;
}

/* Home animation */
@keyframes animate__before {
  0% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }
  50% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
  100% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }
}

@keyframes animate__after {
  0% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
  50% {
    border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
  }
  100% {
    border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
  }
}

/*=============== BUTTON ===============*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: var(--white);
  padding: 0.9rem 2.5rem;
  font-size: var(--large-font-size);
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.btn--transparent {
  background-color: transparent;
  color: var(--first-color);
}
/* Button hover */
.btn:hover {
  background-color: var(--first-color-dark);
}

.btn--transparent:hover {
  background-color: var(--first-color);
  color: var(--white);
}

/*=============== ABOUT ===============*/
.about__container {
  grid-template-columns: 4fr 8fr;
  align-items: center;
}

.about__img-wrapper {
  position: relative;
  height: 400px;
}

.about__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.about__img:nth-child(1) {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translateY(-1.25rem);
}

.about__img:nth-child(2) {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translateY(-0.75rem);
}

.about__img:nth-child(3) {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translateY(-0.25rem);
}

.about__img:nth-child(4) {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translateY(0.25rem);
}

/* About img hover */
.about__img-wrapper:hover .about__img {
  transform: translateY(0);
}

.about__description {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.about__data {
  grid-template-columns: repeat(2, 1fr);
  gap: .25rem;
  margin-bottom: 3rem;
}

.data__item {
  display: flex;
  column-gap: .75rem;
}

.data__title {
  font-size: var(--larger-font-size);
}

.about__link {
  color: hsl(225, 73%, 57%);
}

.about__bottom,
.about__social-links {
  display: flex;
  align-items: center;
}
.about__bottom {
  column-gap: 3rem;
}

.about__social-links {
  column-gap: 1.25rem;
}

.about__social-links::before{
  content: '';
  background-color: var(--text-color);
  width: 60px;
  height: 2px;
}

.about__social-link {
  color: var(--text-color);
  transition: all 0.3 ease;
}

.about__social-link:hover {
  color: var(--first-color);
}
/*=============== parcours ===============*/
.parcours {
  background-color: var(--container-color);
}

.resume__container {
  grid-template-columns: repeat(2, 1fr);
}

.resume__heading {
  text-align: center;
  font-size: var(--h3-font-size);
  padding-bottom: 2rem;
}

.resume__heading,
.resume__item {
  border-bottom: 2px solid var(--border-color);
}

.resume__item:not(:first-child) {
  border-right: 2px solid var(--border-color);
}

.resume__item {
  position: relative;
}

.resume__header {
  padding: 2rem 1.5rem;
}

.resume__subtitle{
  font-size: var(--larger-font-size);
  cursor: pointer;
}

.resume__icon {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  font-size: var(--h2-font-size);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 1.1em;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: -1.5rem;
  bottom: -1.5rem;
  z-index: 10;
}

.resume__content {
  padding-inline: 1.5rem 3rem;
}

.resume__date-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume__title {
  font-size: var(--h3-font-size);
}

.resume__date {
  color: var(--title-color);
  font-size: var(--larger-font-size);
}

.resume__description {
  margin-block: 1.25rem 2rem;
}
/*=============== veille ===============*/
.veille__container {
  grid-template-columns: repeat(3, 1fr);
}

.veille__item {
  background-color: var(--container-color);
  border: 1px solid var(--container-color);
  padding: 2.5rem 1.8rem;
  border-radius: .5rem;
  position: relative;
  transition: all .5 ease;
}

/* veille hover */
.veille__item:hover {
  background-color: var(--body-color);
  border-color: var(--border-color);
}

.veille__icon {
  color: var(--first-color);
  font-size: 1.8rem;
}

.veille__title {
  font-size: var(--h3-font-size);
  margin-block: 1.5rem 1rem;
}

.veille__no {
  position: absolute;
  right: 2.5rem;
  top: 1rem;
  color: var(--title-color);
  font-size: 3.75rem;
  opacity: 0.07;
}

/*=============== SKILLS ===============*/
.skills {
  background-color: var(--container-color);
}

.skills__container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__titles,
.skills__description {
  padding-inline: 1.5rem;
}

.skills__name {
  font-size: var(--larger-font-size);
}

.skills__no {
  color: var(--title-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-600);
}

.skills__description {
  margin-block: 1rem 1.8rem;
}

.skills__bar,
.skills__percentage {
  height: 2px;
}

.skills__bar {
  background-color: var(--border-color);
}

.skills__percentage {
  background-color: var(--first-color);
  position: relative;
}

.skills__percentage span {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -0.75rem;
}

/*=============== PORTFOLIO ===============*/
/* Définition de la grille des cards */
.work__container {
  grid-template-columns: repeat(3, 1fr);
}

.work__card {
  position: relative;
  cursor: pointer;
}

.work__img {
  vertical-align: middle;
}

.work__details {
  position: absolute;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.work__img,
.work__details {
  border-radius: .5rem;
}

.work__title {
  font-size: var(--h3-font-size);
}

.work__title,
.work__description {
  color: var(--white);
  transform: translateY(1.5rem);
  transition: all .3s ease-in-out;
}

.work__description {
  font-size: var(--larger-font-size);
}

/* Work hover */
.work__card:hover .work__details {
  opacity: 1;
}

.work__card:hover :is(.work__title, .work__description) {
  transform: translateY(0);
}

/* Style pour le modal */
.modal {
  display: none; /* Caché par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.modal.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

/* Style pour le contenu du modal */
.modal-content {
  position: relative;
  background: linear-gradient(to bottom, #ffffff, #f3f4f6); /* Fond dégradé */
  padding: 30px;
  border-radius: 20px; /* Coins arrondis */
  width: 85%;
  max-width: 750px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25); /* Ombre douce */
  animation: fadeInScale 0.4s ease-out;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal__title {
  font-size: var(--h2-font-size);
  margin-bottom: 10px;
  color: #6c63ff; /* Couleur moderne */
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal__description {
  font-size: 1.2rem;
  color: #555555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

/* Centrer le bouton de documentation */
.modal__docs {
  margin-top: 20px;
  text-align: center;
}

.modal__docs a {
  display: inline-block;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  background: #6c63ff; /* Couleur moderne */
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 30px; /* Bouton arrondi */
  box-shadow: 0 5px 15px rgba(108, 99, 255, 0.3); /* Ombre */
  transition: all 0.3s ease;
}

.modal__docs a:hover {
  background: #4e4cc7; /* Couleur plus foncée au survol */
  box-shadow: 0 8px 20px rgba(108, 99, 255, 0.5); /* Ombre renforcée */
  transform: scale(1.05); /* Légère mise en avant */
}

/* Section des technologies */
.modal__technologies h3 {
  margin: 20px 0;
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--first-color);
}

/* Style général des technologies */
.modal__technologies ul {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacement entre les icônes */
  padding: 0;
  list-style: none;
}

.modal__technologies li {
  display: flex;
  flex-direction: column; /* Aligne le texte sous l'icône */
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 70px; /* Fixe une hauteur pour éviter les sauts */
}

/* Icônes */
.modal__technologies li img {
  width: 64px; /* Taille des icônes */
  height: 64px;
  transition: transform 0.3s ease;
}

.modal__technologies li img:hover {
  transform: scale(1.2); /* Agrandit l'icône au survol */
}

/* Affiche le nom sous l'icône */
.modal__technologies li::after {
  content: attr(data-name); /* Utilise l'attribut data-name pour afficher le nom */
  display: none;
  font-size: 0.9rem;
  color: #000;
  margin-top: 5px; /* Distance entre l'icône et le texte */
}

/* Affiche le nom au survol */
.modal__technologies li:hover::after {
  display: block;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.75rem;
  color: var(--body-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close:hover {
  transform: scale(1.2);
  color: #ff0000;
}

.modal__document h3 {
  margin: 20px;
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--first-color);
}


/*=============== CONTACT ===============*/
.contact__container {
  grid-template-columns: 5fr 7fr;
  align-items: flex-start;
}

.contact__item {
  display: flex;
  align-items: flex-start;
  column-gap: 1.25rem;
}

.contact__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.contact__icon {
  color: var(--first-color);
  font-size: var(--large-font-size);
  line-height: 1.8;
}

.contact__title {
  font-size: var(--larger-font-size);
}

.contact__data {
  font-size: var(--large-font-size);
}

.form__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}

.input__control {
  color: var(--title-color);
  background-color: var(--container-color);
  padding: 0.9rem 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}

.textarea {
  height: 140px;
  resize: none;
}

.contact__btn {
  float: right;
  cursor: pointer;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--container-color);
  padding-block: 3rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-links {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: var(--large-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  :root{
  --big-font-size: 2.5rem ;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --larger-font-size: 1rem;
  --large-font-size: .938rem;
  }


  .home__img {
    width: 340px;
  }

  .about__img-wrapper {
    height: 320px;
  }

  .resume__icon {
    line-height: 1.4em;
  }

  .veille__icon {
    font-size: 1.5rem;
  }

  .veille__no {
    font-size: 2.5rem;
  }

  .veille__title {
    margin-block: 1.25rem .75rem;
  }
}

@media screen and (max-width: 992px) {

  .container {
    max-width: 720px;
  }

  .home__container,
  .about__container,
  .resume__container,
  .contact__container {
    grid-template-columns: 1fr;
  }

  .home__content {
    order: 1;
  }

  .home__img-wrapper {
    margin-inline: auto;
  }

  .about__container,
  .contact__container {
    row-gap: 2rem;
  }

  .about__img:not(:first-child) {
    display: none;
  }

  .about__img:first-child {
    clip-path: initial;
    transform: initial;
    left: 50%;
    translate: -50%;
  }

  .veille__container,
  .skills__container,
  .work__container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .resume__container {
    row-gap: 2.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {

  .container {
    max-width: 560px;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
  }

  #nav-toggler {
    display: none;
}

  .nav__toggle {
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
  }

  #nav-toggler:checked ~ .nav__list {
    max-height: 500px;
    padding: 1.75rem;
  }

  .home__img {
    width: 300px;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .home{
    padding-top: 7rem;
  }

  .section {
    padding-block: 4rem;
  }

  .resume__icon {
    display: none;
  }

  .veille__container,
  .skills__container,
  .work__container,
  .form__group {
    grid-template-columns: 1fr;
  }

  .footer__container{
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .about__data {
    grid-template-columns: 1fr;
  }

  .about__bottom,
  .resume__date-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .about__bottom {
    row-gap: 1.25rem;
  }

  .about__bottom .btn {
    order: 1;
  }

  .resume__date-title {
    row-gap: .25rem;
  }

  .resume__header,
  .skills__titles,
  .skills__description {
    padding-inline: 1rem;
  }

  .resume__content {
    padding-inline: 1rem 1.5rem;
  }

  .veille__item {
    padding: 2rem 1.5rem;
  }
}